.form_container{
    border: 1px solid black;
    width: 100%;
    min-width: 800px;
}

/* .App_form .form_body{
    border: 1px solid red;
} */

.form_container .row{
    border: 1px dashed black;
    width: 100%;
    position: relative;
    /* left: 50%; */
    /* width: 50%; */
}
.form_container .form-group{
    /* border: 1px dotted blue; */
    padding: 10px;
    margin: 4px 0;
    text-align: left;
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.form-group.vertical{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.form_container .box-group{
    /* background-color: red; */
    width: 60%;
}

.form-group .label{
    /* text-align: left;  */
    padding: 12px 20px;
    margin: 8px 0;
}

input[type=text],
input[type=email],
input[type=date],
input[type=number],
select
{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.submit_btn button{
    /* width: 100%; */
    color: white;
    background-color: #4CAF50;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* .submit_btn button:hover {
    border-color: #646cff;
} */
/* .submit_btn button:focus,
.submit_btn button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
} */